<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nightonke.boommenusample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SimpleCircleButtonActivity"
            android:label="Simple Circle Button"/>
        <activity android:name=".TextInsideCircleButtonActivity"
            android:label="Text Inside Button"/>
        <activity android:name=".TextOutsideCircleButtonActivity"
            android:label="Text Outside Button"/>
        <activity android:name=".HamButtonActivity"
            android:label="Ham Button"/>
        <activity android:name=".SquareAndPieceCornerRadiusActivity"
            android:label="Square &amp; Piece Corner Radius"/>
        <activity android:name=".BoomExampleActivity"
            android:label="Boom"/>
        <activity android:name=".ButtonPlaceAlignmentActivity"
            android:label="Button Place Alignment"/>
        <activity android:name=".OrderExampleActivity"
            android:label="Order"/>
        <activity android:name=".ActionBarActivity"
            android:label="ActionBar"/>
        <activity android:name=".ToolBarActivity"
            android:theme="@style/NoTitleTheme" />
        <activity android:name=".DraggableActivity"
            android:label="Draggable"/>
        <activity android:name=".EaseActivity"
            android:label="Ease"/>
        <activity android:name=".ListenerActivity"
            android:label="Listener"/>
        <activity android:name=".ControlActivity"
            android:label="Control"/>
        <activity android:name=".ShareActivity"
            android:label="Share"/>
        <activity android:name=".ListViewActivity"
            android:label="List"/>
        <activity android:name=".RecyclerViewActivity"
            android:label="Recycler View"/>
        <activity android:name=".FragmentActivity"
            android:label="Fragment"/>
        <activity android:name=".ChangeBoomButtonActivity"
            android:label="Change Boom Button"/>
        <activity android:name=".ThreeDAnimationActivity"
            android:label="3D Animation"/>
        <activity android:name=".CustomPositionActivity"
            android:label="Custom Position"/>
        <activity android:name=".FadeViewsActivity"
            android:label="Fade Views"/>

    </application>

</manifest>